@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

@import 'base/mixin';
@import 'base/variables';
// Обнуление стилей
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    line-height: 1;
    font-size: 14px;
    overflow-x: hidden;
    font-family: 'Play', sans-serif;
}
:root {
    --swiper-theme-color: transparent;
    --swiper-pagination-bullet-inactive-color: transparent;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { 
    display: none;
}
.container {
    width: 1110px;
    margin: 0 auto;
}

#active {
    display: block;
    color: $third-color;
    transform: translateX(15px);
}


.mycustom-scroll {
    p {
        .hide {
            display: none;
        }
    }
}
// .cursor {
//     position: fixed;
//     background: #b82727;
//     width: 20px;
//     height: 20px;
//     border-radius: 50%;
//     margin: -10px 0 0 -10px;
//     will-change: transform;
//     pointer-events: none;
//     z-index: 1000;
// }

@import 'blocks/title';
@import 'blocks/img';
@import 'blocks/header';
@import 'blocks/menu';
@import 'blocks/main';
@import 'blocks/history';
@import 'blocks/bands';
@import 'blocks/game';
@import 'blocks/famous';
@import 'blocks/page-transition';
@import 'blocks/audio';
// BANDS
@import 'blocks/wtclan';
@import 'blocks/nwa';
@import 'blocks/thesh';
@import 'blocks/rundmc';
// FAMOUS