.history {
    min-height: calc(100vh - 70px);
    overflow: hidden;
    &__header {
        mix-blend-mode: luminosity;
    }
    &__img {
        position: absolute;
        top: -70px;
        left: 0;
        width: 100%;
        height: calc(100% + 70px);
        z-index: -1;
    }
    &__title {
        position: absolute;
        top: 60%;
        font-size: 3rem;
        color: $text-color;
        z-index: 2;
    }
    &__descr {
        position: absolute;
        top: 70%;
        width: 450px;
        font-size: 1.5rem;
        color: $text-color;
    }

    &__content {
        padding: 7rem 0;
        background-color: $secondary-color;
        background-attachment: fixed;
        &-container {
            display: grid;
            grid-template-columns: 522px 350px;
            grid-template-rows: repeat(2, 400px);
            justify-content: space-between;
        }
        &-text {
            font-size: 1.5rem;
            line-height: 2rem;
            color: $text-color;
        }
        &-container__r {
            margin-top: 5rem;
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(2, auto);
            gap: 50px;
            justify-content: space-between;
        }
    }
}